@font-face {
    font-family: norse-bold;
    src: url(./Norse-Bold.otf);
}

:root {
    --left-margin: 48px;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    min-height: 100vh;
}

/* Left side */

.left-side {
    box-sizing: border-box;
    background-image: url(./background.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    margin-top: 24vh;
    max-height: 256px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: norse-bold, Arial, Helvetica, sans-serif;
    color: white;
    font-size: 128px;
}

.logo img {
    height: 128px;
}

.credit {
    color: white;
    align-self: center;
    justify-self: flex-end;
    align-content: end;
    margin-bottom: 8px;
}

.credit a {
    color: white;
}

/* Right side */

.right-side {
    display: flex;
    flex-direction: column;
    flex: 5;
    font-family: sans-serif;
    background-color: rgb(240, 240, 240);
    justify-content: center;
}

.emphase {
    font-style: italic;
}

.hero-part {
    margin: 0;
    flex: 2;
}

.hero-part p:first-child {
    padding-top: 64px;
}

.hero-part p:last-child {
    padding-bottom: 16px;
}

.hero-part p {
    max-width: 80%;
    margin-left: var(--left-margin);
    font-size: 2.5rem;
    font-weight: bold;
}

.form-part {
    flex: 3;
}

.input-part {
    background-color: white;
    padding-top: 32px;
    padding-bottom: 16px;
    padding-left: var(--left-margin);
    box-shadow: 0 5px 5px 4px rgba(0, 0, 0, 0.1);
}

.inputs > div {
    display: flex;
    flex-wrap: wrap;
    column-gap: 84px;
    row-gap: 18px;
    margin-bottom: 16px;
    align-items: flex-start;
}

.inputs label {
    display: block;
    font-variant-caps: all-small-caps;
    font-size: 1.2rem;
}

.inputs input {
    border: solid 1px #E5E7EB;
    border-radius: 4px;
    font-size: 1.4rem;
    padding: 8px;
}

input:focus {
    box-shadow: 2px 1px 2px 2px rgba(0, 0, 0, 0.1);
    outline: none;
    border: solid 1px blue;
}

input:invalid {
    outline: none;
    border: solid 1px red;
}

.error-message {
    margin-top: 0;
    font-size: 0.8rem;
    color: red;
}

#send-form {
    background-color: #596D48;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    margin-left: var(--left-margin);
    margin-top: 24px;
    padding: 16px 32px;
    border-radius: 8px;
    border-style: none;
    box-shadow: 2px 1px 2px 2px rgba(0, 0, 0, 0.1);
}

.log-in {
    margin-top: 8px;
    margin-left: var(--left-margin);
}

.log-in a {
    font-weight: bold;
    color: #596D48;
    text-decoration: none;
}